
nav {
    margin-bottom: 1rem;
}

.navbar-collapse {
    flex-grow: 0 !important;
}
.navbar-nav a {
    text-align: end;
    margin-top: 15px;
}

.navbar-brand img {
    height: 2.4rem;
}

.main-container {
    min-height: 88vh;
    padding-bottom: 2rem;
    position: relative;
}

.bookmark-icon {
    height: 35px;
    width: 35px;
    color: black;
    opacity: 0.8;
    cursor: pointer;
}

.bookmark-top-right {
    position: absolute !important;
    right: 0 !important;
}

.filterbar-card, .searchbar-card {
    margin: 1rem 0px;
}

.filterbar-button-group {
    margin-bottom: 10px;
}

.filterbar-button-group button {
    margin: 0px 10px;
}

.filterbar-button-group button:first-of-type {
    margin-left: 0px !important;
}

.filterbar-button-group button:last-of-type {
    margin-right: 0px !important;
}

.loading-spinner-row {
    position: fixed; 
    left: 50%; 
    top: 45%; 
}

.loading-spinner-container {
    position: relative;
    left: -50%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(238, 238, 238);
    opacity: 0.9;
    padding: 2rem;
    width: 175px !important;
    height: 175px !important;
    border-radius: 1rem;
}

.loading-spinner-container p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.loading-spinner {
    height: 5rem !important;
    width: 5rem !important;
    font-size: 2rem;
}

.cookie-consent-container {
    position: sticky;
    top: 4rem;
    z-index: 99;
}

.cookie-consent-container .alert-heading {
    font-size: 1.5rem;
}

.reload-data-button-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}



@media only screen and (min-width: 576px) {
    .filterbar-button-group button {
        margin: 0px 20px;
    }
}