.bookmark-card {
    height: 500px !important;
}

.bookmark-card img {
    height: 75%;
    width: 100%;
}

.bookmark-card .button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-card img {
    object-fit: cover;
}
