

.sight-info-row {
    flex-direction: column;
}

.sight-page-container .row {
    margin-bottom: 1rem;
}

.sight-info-container {
    display: flex;
    flex-direction: column;
}

.container .like-container {
    max-width: 400px;
    margin: 0 auto;
}

.like-container .col {
    text-align: center;
}

@media only screen and (min-width: 576px) {
    .sight-info-row {
        flex-direction: row;
        gap: 2rem;
    }
}