
.sight-card {
    height: 550px !important;
}

.sight-card img {
    height: 65%;
    width: 100%;
    /*object-fit: cover;*/
}

.sight-card .like-container .col {
    justify-content: center;
}

.sight-card .card-footer a {
    color: #013788;
}

.thumb-icon {
    height: 35px;
    width: 35px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: inherit;
    border-radius: 360px;
    cursor: pointer;
}

.thumb-icon-up {
    color: green;
}

.thumb-icon-down {
    color: red;
}

.thumb-icon-active {
    border-color: dodgerblue;
    border-width: 3px;
    box-shadow: 0px 0px 10px  1px dodgerblue;
}

.is-bookmarked {
    position: absolute !important;
    right: 0 !important;
    cursor: default !important;
}

/*
@media only screen and (min-width: 576px) {
    .sight-card {
        width: 31% !important;
        height: 600px !important;
        padding: 0 !important;
    }
}

@media only screen and (min-width: 768px) {
    .sight-card {
        width: 30% !important;
        height: 600px !important;
        padding: 0 !important;
    }
}
*/